
<%= link_to(paypal_express_url(:payment_method_id => payment_method.id), :method => :post, :id => "paypal_button", :class => 'btn btn-blue paypal') do %>
  <span>Pay With</span>
<% end %>

<script>
  SpreePaypalExpress.paymentMethodID = "<%= payment_method.id %>"  
 </script>